@import "../base.less";
@import "../layout.less";

.editors-wrapper {
    margin: 42px 0;
    padding: @padding-medium;
    display: block;
    border: 1px solid @color-light-gray;
    border-radius: @border-radius-medium;
    height: 100%;
    min-height: 500px;
}

.css-10ltm04-MuiToolbar-root {
    margin-bottom: 24px;
}

.tableWrapper table {
    border: 1px solid @color-light-gray;
}

.tableWrapper td, .tableWrapper th {
    border: 1px solid @color-light-gray;
}