@charset "utf-8";
* {
  scrollbar-color: #4096FF white;
  scrollbar-width: thin;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
input:focus,
textarea:focus,
a:focus {
  outline: none;
  text-decoration: none;
}
a,
option {
  text-decoration: none;
  color: #1F1F1F;
}
li {
  list-style: none;
}
button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}
img,
button,
a {
  display: block;
  border: none;
}
h1,
h2,
h3,
h4 {
  color: #1F1F1F;
  font-size: 24px;
  font-weight: 800;
}
input {
  display: block;
  font: inherit;
  overflow: visible;
}
input::placeholder {
  font: inherit;
}
html {
  height: auto;
  min-height: 100%;
}
body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 320px;
  background: #fff;
  color: #1F1F1F;
  font-size: 14px;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: #1F1F1F;
  border-left: 1px solid #1F1F1F;
}
body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 3px solid #1F1F1F;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #595959;
}
main {
  height: 100%;
  display: flex;
  width: 100%;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profile-name {
  font-size: 24px;
  text-align: center;
}
.profile-block {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}
.profile-block-item {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #D1D5DB;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.profile-block .right {
  width: 100%;
}
.profile-block .left {
  height: fit-content;
}
.user-avatar {
  border-radius: 100px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.user-info__name {
  font-family: Lato, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.user-info__email {
  font-weight: 300;
  font-size: 12px;
  font-family: Lato, sans-serif;
}
.user-info__position {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
.header-user {
  display: block;
  width: 100%;
}
.form-emeil {
  font-size: 18px;
  font-weight: 400;
}
.nav-tabs {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 12px;
  width: 100%;
  height: 100%;
}
.nav-tabs .nav-tab {
  padding: 10px 24px;
  background-color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  color: #1F1F1F;
  cursor: pointer;
  height: fit-content;
  line-height: normal;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.nav-tabs .nav-tab:hover {
  background-color: #F0F0F0;
}
.nav-tabs .nav-tab--active {
  background-color: #EFF6FF;
}
.nav-tabs .nav-tab--active .nav-tab__link {
  color: #1677FF;
}
.nav-tabs .nav-tab__link {
  font-size: 16px;
  white-space: nowrap;
}
.tab-form {
  display: none;
  height: 100%;
  width: 100%;
}
.tab-form--active {
  display: block;
}
.tab-form .form-fields {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tab-form .form-fields .btn-primary {
  margin-top: 12px;
  width: fit-content;
}
.tab-form .form-fields .btn-primary span {
  font-weight: 400;
}
.tab-form .form-fields .form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12px;
}
.tab-form .form-fields .form-input label {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}
@media screen and (min-width: 1100px) {
  .profile-block {
    flex-direction: row;
  }
  .profile-name {
    text-align: start;
  }
  .tab-form .form-fields {
    max-width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .profile-block-item {
    padding: 20px;
  }
}
/*# sourceMappingURL=profile.css.map */